/* logo */

nav .navbar-brand h4 img {
    width: 65px;
}

nav .navbar-brand h4 {
    font-size: 24px;
}


/* icon */

.fa-github,
.profile .fa-address-card {
    color: #202020 !important;
}

.fa-phone-alt {
    color: #14C38E !important;
}

.fa-twitter,
.profile .fa-address-book {
    color: #87ceeb !important;
}

.fa-youtube,
.profile .fa-user {
    color: #dc3545 !important;
}

.profile .fa-envelope {
    color: #FAC213 !important;
}

.profile .fa-calendar-alt {
    color: #1b00ff !important;
}


/* footer */

.footer .btn-social {
    background-color: #fff !important;
    border: 1px solid #202020;
}

.footer .btn-social:hover {
    background-color: #fff !important;
}

.footer .btn .fa-facebook-f {
    color: #1b00ff !important;
}


/* navbar menu */

.navbar .megamenu {
    padding: 1rem;
}

.navbar .megamenu-title {
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #1b00ff;
}

.navbar .megamenu img {
    width: 100%;
    height: auto;
}

.navbar .megamenu .ios-android {
    padding: 6px;
    width: 140px;
}


/* qr code and form */

.carousel-inner .img-fluid {
    max-width: 80%;
}

.profile h5 .profile-text {
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
}

.profile .col-qrcode .qrcode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border: 1px solid #202020;
    padding: 10px;
}

.profile .col-qrcode p {
    text-align: center;
    font-style: italic;
}

.btn {
    font-family: 'Inter', sans-serif;
}

.badge {
    padding: 0.75em;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.tab-content h2 {
    color: #1b00ff;
}

.tab-pane th {
    color: #1b00ff;
    font-family: var(--bs-font-sans-serif);
}

.form-control:disabled,
.form-control:read-only {
    background-color: #fff;
}

.form-control {
    border-radius: 5px;
}


/* .navbar-center {
    position: absolute;
    left: 60%;
    transform: translatex(-60%);
} */


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu,
    .navbar .has-user-menu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    .navbar .user-menu {
        left: auto;
        right: 0;
        margin-top: 0;
    }
    .navbar-nav.navbar-center {
        position: absolute;
        left: 55%;
        transform: translatex(-55%);
    }
}


/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */

@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {
    .profile .col-qrcode .qrcode {
        max-width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .profile .col-qrcode .qrcode {
        max-width: 50%;
    }
}