nav .navbar-brand h4 img {
    width: 70px;
}

.fa-github {
    color: #202020 !important;
}

.fa-phone-alt {
    color: #14C38E !important;
}

.fa-twitter {
    color: #87ceeb !important;
}

.fa-youtube {
    color: #dc3545 !important;
}


/* .footer .fa-envelope {
    color: #FAC213!important;
} */

.footer .btn-social {
    background-color: #fff !important;
    border: 1px solid #202020;
}

.footer .btn-social:hover {
    background-color: #fff !important;
}

.footer .btn .fa-facebook-f {
    color: #1b00ff !important;
}

.navbar .megamenu {
    padding: 1rem;
}

.navbar .megamenu-title {
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #1b00ff;
}

.navbar .megamenu img {
    width: 100%;
    height: auto;
}

.navbar .megamenu .ios-android {
    padding: 6px;
    width: 140px;
}

.carousel-inner .img-fluid {
    max-width: 80%;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu,
    .navbar .has-user-menu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    .navbar .user-menu {
        left: auto;
        right: 0;
        margin-top: 0;
    }
}


/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */

@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {}